.calendar-container {
  background: #f8f9fa;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  width: 300px; 
  margin-bottom: 20px;
}

.react-calendar {
  border: none !important;
  background: #ffffff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  width: 100% !important; 
}

.react-calendar__navigation {
  display: none;
}

.react-calendar__tile {
  font-weight: 500;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  background: none !important;
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__tile:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

.current-day {
  border: 2px solid rgb(96, 9, 227) !important;
  border-radius: 4px;
}

.booked-date {
  background: rgba(255, 0, 0, 0.4) !important;
  border-radius: 4px;
  font-weight: bold;
  color: #d9534f;
}

.free-date {
  border: 2px solid rgba(0, 255, 0, 0.4) !important;
  border-radius: 4px;
  font-weight: bold;
  color: #4caf50;
}

.pending-date {
  background: rgba(255, 165, 0, 0.4) !important;
  border-radius: 4px;
  font-weight: bold;
  color: #ff9800;
}

.blocked-date {
  background: rgba(128, 128, 128, 0.6) !important;
  border-radius: 4px;
  font-weight: bold;
  color: #333;
}

.rejected-date {
  background: rgba(255, 0, 0, 0.2) !important;
  border-radius: 4px;
  font-weight: bold;
  color: #777;
  text-decoration: line-through;
}

.cancelled-date {
  background: rgba(255, 0, 0, 0.3) !important;
  border-radius: 4px;
  font-weight: bold;
  color: #777;
  text-decoration: line-through;
}

.current-day.booked-date {
  background: rgba(255, 0, 0, 0.4) !important;
}

.current-day.free-date {
  background: rgba(0, 255, 0, 0.4) !important;
}

.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
}

.react-calendar__month-view__weekdays {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 350px;
}
